<% provide(:title, 'About Us') %>

    <h1>About Us</h1>
    <p>
      Twotepad project goal is to provide a virtual "notepad" to record interesting or
      enlightening ideas from industry/field leaders may "tweet" about on Twitter.  It is
      up to the Twotepad user to create his or her Twitter account and choose the leaders 
      he or she wishes to "twote" (twitter quote).  Future enhancements will involve 
      better organization and discrimination of what is "twotable".  As interesting as it 
      may be to some, we wish to exclude comments about the weather, new shoes and traffic.
    </p>

